a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

h1 {
  line-height: 1.1;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  overflow: hidden;
  flex: 1;
  flex-direction: row;
}

#editor {
  flex: 1;
  overflow: hidden;
  display: flex;
}

#editor > div{
  flex:1
}

#output {
  flex: 1;
  overflow: auto;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 1em;
  min-width: 200px;
  max-width: 980px;
}

article.markdown-body>.highligted {
  background-color: rgba(0, 150, 255, 0.2);
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}
